* {
  margin: 0;
  padding: 0;
  list-style: none;
}
#page ul {
  display: flex;
  justify-content: start;
}
#page ul li {
  margin-left: 15px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  border: 1px solid #000;
  cursor: pointer;
}
#page ul .active {
  color: #FFF;
  background-color: #007acc;
}
